server:
  port: 8080
spring:
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: login_route
          uri: http://127.0.0.1:9090
          predicates:
            - Path=/login/**
        - id: employee_route
          uri: lb://employee
          predicates:
            - Path=/employee/**
        - id: access_route
          uri: lb://access
          predicates:
            - Path=/access/**
        - id: alerts_route
          uri: lb://alerts
          predicates:
            - Path=/alerts/**
      globalcors:
        cors-configurations:
          "[/**]":
            allowedOrigins:
              - "http://localhost:4200"
              - "http://127.0.0.1:4200"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
jwt:
  secret: "mi_clave_secreta_super_segura_y_larga_123456"
